html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  min-height: -webkit-fill-available;
  font-size: 1em;
  background: #E5E5E5;
}

* {
  box-sizing: border-box;
}

/* Element styling */
hr {
  border-top: 1px solid #E5E5E5;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  line-height: 1.75em;
}

h4, h5 {
  margin: 1.5em 0 0;
}

a {
  color: #09C8F2;
  cursor: pointer;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  width: 100%;
}

section {
  margin: 0 auto 7em;
  padding: 0 1.5em 1.5em;
}

p {
  font-size: 0.75em;
}

/* Buttons & links */
.primary-btn {
  background: #6209F2;
  color: white;
  border: none;
  border-radius: 90px;
  padding: 0.5em 1em;
}

.request-help-cta {
  font-weight: bold;
  background: white;
  width: 100%;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.45);
}

#request-type a {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5em;
}

.request-cleanup-cta {
  color: #6209F2;
  text-decoration: none;
}

.request-art-cta {
  color: #9C08B5;
  text-decoration: none;
}

.volunteers a {
  text-decoration: underline;
  line-height: 2em;
}

/* Tab sections */
.tab-section .tabs {
  display: flex;
}

.tab-section .tabs .tab {
  flex: 1;
  font-size: 17px;
  line-height: 20px;
}

.tab-section .tabs .tab.active span {
  border-bottom: 2px solid;
  display: inline-block;
  padding-bottom: 0.5em;
}

.tab-section .tabs #tab1.active span {
  border-color: #6209F2;
}

.tab-section .tabs #tab2.active span {
  border-color: #9C08B5;
}

.tab-section .tab-content {
  display: none;
}

.tab-section .tab-content.active {
  display: block;
}

/* request cards */
.request-card {
  margin-bottom: 1em;
  border: 1px solid #6209F2;
  border-radius: 2px;
  display: flex;
}

.request-card .request-img{
  background: grey;
  width: 50px;
}

.request-card .request-details{
  padding: 0.5em;
  flex: 1;
}

.request-card .request-cta{
  padding: 0.5em;
  align-self: center;
}

.request-card .request-cta .serve-cta {
  font-size: 1em;
  line-height: 0.75em;
}

.request-card .request-cta .serve-cta .sub {
  font-size: 0.5em;
}

/* dialogs */
.dialog {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  z-index:3;
}

.dialog.open {
  display: flex;
}

.dialog .dialog-content {
  max-width: 90%;
  background: white;
  padding: 1em;
  position: relative;
  border-radius: 1em;
}

.dialog .dialog-content .close {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  background: black;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
  border: 1px solid white;
}

.dialog .dialog-content .close::before {
  content: 'x';
  color: #fff;
  font-weight: 300;
  font-family: Arial, sans-serif;
}

/* footer */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content {
  background: black;
  color: white;
  padding: 0.5em;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.footer-content .footer-links {
  padding-left: 1em;
}

.footer-content a{
  color: white;
  text-decoration: underline;
}

/* Map */
.themap {
  width: 100%; 
  height: 250px;
}

.art-request-marker {
  background-image: url('../img/paint-brush-fill.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* Generic helpers */
.hide {
  display: none;
}